---
- hosts: 127.0.0.1
  connection: local
  become: true
  vars:
    user: soeren
    settings_file: settings.yml
    sw_dir: "/home/{{ user }}/sw"
    gitlab_dir: "/home/{{ user }}/src/gitlab/"
    github_dir: "/home/{{ user }}/src/github/"
  
  tasks:
    - name: Load general settings...
      include_vars:
        file: "{{ settings_file }}"
      tags: always

    - name: determine hostname (without ansible facts)
      command: hostname
      register: hostname_output
      tags: always

    - set_fact:
        hostname: "{{ hostname_output.stdout }}"
      tags: always
    
    - name: Load host-based settings
      include_vars:
        file: "settings-{{ hostname }}.yml"
      ignore_errors: true
      tags: always
    
    - include_tasks: tasks/repos.yml
      tags: always
    
    - include_tasks: tasks/dirs.yml
      tags: always

    - include_tasks: tasks/zsh.yml
      tags: always

    - include_tasks: tasks/fedora-packages.yaml
      when: ansible_distribution in ['Fedora', 'CentOS', 'Red Hat Enterprise Linux']
      tags: always

    - include_tasks: tasks/flatpak.yaml
      when: ansible_distribution in ['Fedora', 'CentOS', 'Red Hat Enterprise Linux']
      tags: always

    - include_tasks: tasks/auto_updates.yml
      tags: always

    - include_tasks: tasks/go.yaml
      tags: always
    
    - include_tasks: tasks/go_tools.yaml
      tags: always

    - include_tasks: tasks/dav.yml
      tags: always

    - include_role:
        name: gocryptfs
      tags: always

    - name: Add user to desired groups
      ansible.builtin.user:
        name: "{{ user }}"
        groups: "{{ item }}"
        append: yes
      with_items: "{{ additional_user_groups }}"
      tags: group

    - include_tasks: tasks/services.yml
      tags: always

    - name: "Automatically sync taskwarrior tasks"
      ansible.builtin.cron:
        name: "taskwarrior sync"
        user: "{{ user }}"
        special_time: "{{ taskwarrior_sync_cron.special_time }}"
        job: "task sync"
        disabled: "{{ taskwarrior_sync_cron.disabled }}"
      tags: taskwarrior